<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Notification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        p {
            color: #555;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="box1">
            <div class="logo"> Elearning </div>
        </div>
        <h1>Email Notification</h1>
        <h1>Hello <%= username %>!</h1>
        <p>Your activation code is: <%= activationCode %></p>
        <p>If you have any questions, feel free to contact us.</p>
        <a href="#" class="button">Click Here</a>
        <p class="footer">Thank you,<br>Your Name</p>
    </div>q     
</body>
</html>
